html,
body,
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
#video{
  position: fixed;
  inset: 0;
  z-index: 0;
  /* background: black; */
}

#app {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}